<div class="px-4 py-3">
  <p class="text-sm leading-5">
    Signed in as
  </p>
  <p class="text-sm leading-5 font-medium">
    tom@example.com
  </p>
</div>
<div class="border-t border-gray-100"></div>