<div class="w-screen h-screen pt-12 bg-gray-100 flex justify-center">
  <Dropdown>
    <Dropdown::Button @onClick={{this.toggleIsOpen}} />
    {{#if this.isOpen}}
      <Dropdown::Menu />
    {{/if}}
  </Dropdown>
</div>